<div class="orderview">
	<h1><%= t "order.edit"%></h1>
</div>

<%= render 'form' %>

<div class="btn btn-order">
	<%= link_to t("menu.show"), @order %>
</div>
<div class="btn btn-order">
	<%= link_to t("menu.back"), orders_path %>
</div>
