<div class="orderview">
	<h1>Editing order</h1>
</div>

<%= render 'form' %>

<div class="btn btn-order">
	<%= link_to 'Show', @order %>
</div>
<div class="btn btn-order">
	<%= link_to 'Back', orders_path %>
</div>
