// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 
$product-color: #375A7F;

.productview{
	background-color: $product-color;	
	height:50px;	
	padding-top:10px;
	margin-bottom:20px;
}

.btn-product {
    border-color: $product-color;
    background-color: $product-color;
    color: #FFF;
}

.productrow{
  background-color: $product-color;
}

.searchbox{

    font-weight: normal;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid;
    white-space: nowrap;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857;
    border-radius: 4px;
    min-width: 90px;
    -moz-user-select: none;
    margin-bottom: 10px;
}