$font-stack: arial,sans-serif;
$back-color: #222;
$text-color: #FFF;
$table-back-color: #303030;
$table-border-color: #272727;

body {
  background-color: $back-color;
  color: $text-color;
  font-family:$font-stack;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family:$font-stack;
  font-size: 13px;
  line-height: 18px;
}

h1{
  font-size:20px;
  text-align:center;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: $text-color;
  font-weight: bold;
  text-decoration: none;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}

.btn {
    display: inline-block;
    margin-bottom: 5px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 1.42857;
    border-radius: 4px;
    min-width: 90px;
    -moz-user-select: none;
}

.items_table {
  font-family: $font-stack;
  font-size:11px;
  back-color: $table-back-color;
  border-width: 1px;
  border-color: $table-border-color;
  border-collapse: collapse;
  width:100%;
}

.items_table th {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: $table-border-color;
  font-size:14px;
}

.items_table td {
  border-width: 1px;
  padding: 8px;
  border-style: solid;
  border-color: $table-border-color;
  background-color: $table-back-color;
}

.centercell{
  text-align: center;
}
