<div class="productview">
	<h1><%= t "product.edit"%></h1>
</div>

<%= render 'form' %>

<div class="btn btn-product">
	<%= link_to t("menu.show"), @product %>
</div>
<div class="btn btn-product">
	<%= link_to t("menu.back"), products_path %>
</div>
